.about-person-wrapper {
    margin-bottom: 2em;
}
.about-profile-pic {
    width: 80%;
    align-items: center;
    padding:1px;
    border:1px solid #636D67;
    box-shadow: 2px 2px 1px #888888;
    -webkit-animation: fadein 1.7s;
    -webkit-animation-timing-function: cubic-bezier(1, -0.09, .91, .76)
}
@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
h3 {
    margin-bottom: 1em;
}
/* #collapsible-panel {
    background-color: #EDE7E7;
    font-family: 'Poppins', sans-serif;
    color: black;
    border: 2px solid black;
} */
/* .panel-title {
    background-color: grey; 
    border-radius: 10%;
    border: thick double #9ECBAC;
    font-family: 'Limelight', cursive;
    color: #D7FDEC;
    padding: 10px;
    
}

.panel-toggle {
background-color: pink;
} */
.bio  {
    color: black;
    font-family: 'Poppins', sans-serif;
}
.bio:hover {
    color: #9ECBAC;
}
.band-details {
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    align-items: center;
}
.language {
    padding: 1em;
    border-bottom: 1px solid black;
}
.about-picture {
    width: 100%;
    height: auto;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    opacity: 0.65;
}
.logo {
    width: 6em;
    margin-right:3em;
    margin-bottom: 3em;
    animation-name: logomove;
    animation-duration: 5s;
    filter: sepia(70%);
}
@keyframes logomove {
   from { transform: translateX(900px)}
   to { transform: translateX(0px)}
}
.animation-bee {
    margin-top: 4em;
    margin-left: 2.5em;
    
}
.about-quotes {
    margin: 4em;
}