nav.navbar, .navbar-default {
    background-color: #bfefd5 !important;
}
 .navbar-default {
    background-image: none;
    border: none;
    border-radius: 0;
} 
.navbar-default .navbar-nav > li > a {
    color:#917472;
} 
.navbar-default .navbar-brand {
    color: black;
    font-family: 'Limelight', cursive;
}
.navbar-default .navbar-toggle {
    border-color : black;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #753737;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-brand:hover {
    background-color: transparent;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
        color: #eabbbb;
        background-color: transparent;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color:#eabbbb;
    background-color: transparent;
}
.navbar-brand {
    display: flex;
    align-items: center;
  }
  .navbar-brand>img {
    padding: 7px 14px;
  }
  .navbar-collapse {
    font-family: 'Poppins', sans-serif;
  }
