.imageDL .stageplot {
    position: relative;
    padding: 1em;
    border-radius: 12px;
    
}
.imageDLTwo .stageplot {
    padding: 1em;
    position: right;
    border-radius: 12px;
}
.stageplot {
    margin-top: 3em;
    margin-bottom: 3em;
}
.photoset {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    -webkit-animation: fadein 1s;
    filter: sepia(30%);
}
.press-set{
    filter: sepia(90%);
}
.epk-bios {
    padding:3em;
}
.video-player {
    padding: 3em;
    position: relative;
}

.videos {
    padding: 2em;
} 
/* .react-player {
    position: absolute;
    top: 0;
    left: 0;
  } */
