
.carousel {
    width:900px;
    height:500px;
    margin: auto;
    -webkit-animation: fadein 1s;
  }
  @media (max-width: 900px) {
    .carousel {
      width:auto;
      height:auto;
    }
}
.carousel-caption {
  font-family: 'Special Elite', cursive;
  color: #EDE7E7;
}
.carousel-grid {
  padding-bottom: 10em;
}