

.img-featured-container {
  overflow: hidden;
  position: relative;
}

.img-featured-container  img {
  /* padding: 10px; */
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
  object-fit: cover;
}

.img-featured-container .img-backdrop {
  background: linear-gradient(135deg, rgba(57, 104, 90), rgb(175, 219, 206));
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: all 0.4s ease;
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
  object-fit: cover;
}

.img-featured-container:hover > .img-backdrop {
  opacity: 1;
}

/* center text horizontally and vertically on image hover */
.img-featured-container .description-container {
  color: #fff;
  font-size: 10px;
  /* line-height: 0.5; */
  padding: 0 50px;
  text-align: center;
  line-height: 16px;
  position: absolute;
  top: 50%;
  left: 150px;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  z-index: 2;
  opacity: 0;
  transition: all .4s ease;
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
  object-fit: cover;
}


.img-featured-container:hover .description-container {
  opacity: 1;
}


/* @media screen and (min-width:100px) {
  .img-featured-container .description-container .caption {
    display: block;
  }
} */

/* this makes all instagram photos square */
.instagram-image .img-backdrop  img{
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
  object-fit: cover;
}


/* still not fully responsive for ipads  */
/* these target iPad Pros */
/* @media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {
  
}

@media only screen
and (min-device-width: 1112px)
and (max-device-width: 1112px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {
  display: block;
}

@media only screen
and (min-device-width: 1366px)
and (max-device-width: 1366px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {
  display: block;
} */
.gallery-email-container{
  margin-left:10em;
  margin-right:10em;
}