

.jumbotron {
    margin-top:1em;
    margin-bottom: 4em;
    /* color: black; */
    /* background-color:#bfefd5; */
    /* background-image: url("/Images/AmericanBeeJournal.jpg"); */
    background: linear-gradient(#faefdfcd, #c29d7dc1, transparent) no-repeat fixed, url("/Images/AmericanBeeJournal.jpg") fixed;
/*     
    filter: sepia(40%); */
    
}
/* .person-wrapper {
    margin-bottom: 2em;

}
.home-pic {
    width: 23em;
} */

@keyframes logomove {
   from { transform: translateX(900px)}
   to { transform: translateX(0px)}
}
.logo2 {
    width: 90%;
    height: auto;
    margin-top:-10%;
    margin-bottom: -5em;
    display: flex;
    filter: sepia(70%);
    animation-name: logomove;
    animation-duration: 3s;

}
/* .logo3 {
    width: 100%;
    margin:1em;
    animation-name: logomove;
    animation-duration: 5s;
    filter: sepia(70%);
} */
.btn-default {
    margin-top: 3em;
    background-image: none;
    border: black;
    border-radius: 50;
    background-color: rgb(176, 240, 220);
    font-family: 'Poppins', sans-serif;
    border: 1px solid black;
    transition: 1s ease-in;
    
}
.btn-default:hover {
    background: #F4CCC3;
}
.home-button{
    text-align: center;
}

.home-page {
    /* background-color: antiquewhite; */
    background-color: #D7FDEC
}
h3 {
    font-family: 'Special Elite', cursive;
    margin-bottom: 1em;
    /* margin-left: 1em; */
    font-size:2.3vw;
    
}
h2 {
    font-family: 'Limelight', cursive;
    font-size: 6em;
    -webkit-animation: fadein 3.1s;
    -webkit-animation-timing-function: cubic-bezier(1, -0.09, .91, .76)
}
h4{
    font-family: 'Poppins', sans-serif; 
}
@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.logo2-container{
    margin:1em;
}

.home-type-text{
    /* width:70%; */
    height:auto;
    text-align: center;
}