

.jumbotron {
    margin-bottom: 4em;
    color: black;
    background-color:#bfefd5;
    
}
.person-wrapper {
    margin-bottom: 2em;
}
.home-pic {
    width: 22em;
}
.logo {
    width: 7em;
    animation-name: logomove;
    animation-duration: 3s;
}
@keyframes logomove {
   from { transform: translateX(900px)}
   to { transform: translateX(0px)}
}
.btn-default {
    background-image: none;
    border: black;
    border-radius: 50;
    background-color: #EDE7E7;
    font-family: 'Poppins', sans-serif;
    border: 1px solid black;
    transition: 1s ease-in;
    
}
.btn-default:hover {
    background: #F4CCC3;
}

.home-page {
    /* background-color: antiquewhite; */
    background-color: #D7FDEC
}
h3 {
    font-family: 'Special Elite', cursive;
    margin-bottom: 1em;
}
h2 {
    font-family: 'Limelight', cursive;
    font-size: 6em;
    -webkit-animation: fadein 3.1s;
    -webkit-animation-timing-function: cubic-bezier(1, -0.09, .91, .76)
}
h4{
    font-family: 'Poppins', sans-serif; 
}
@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
