

.jumbotron {
    margin-bottom: 4em;
    color: black;
    background-color:#bfefd5;
    
}
.person-wrapper {
    margin-bottom: 2em;
}
.home-pic {
    width: 50em;
}
.logo {
    width: 7em;
}
.btn-default {
    background-image: none;
    border: black;
    border-radius: 50;
    background-color: #EDE7E7;
    font-family: 'Special Elite', cursive;
    
}

.home-page {
    /* background-color: antiquewhite; */
    background-color: #D7FDEC
}
h3 {
    font-family: 'Special Elite', cursive;
    margin-bottom: 1em;
}
h2 {
    font-family: 'Limelight', cursive;
    font-size: 7em;
    -webkit-animation: fadein 3.1s;
    -webkit-animation-timing-function: cubic-bezier(1, -0.09, .91, .76)
}
@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
