.Music {
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 280px;
    height: 430px;
    padding-bottom: 10em;
    -webkit-animation: fadein 1.7s;
  }
  .Music .Artwork {
    width: 280px;
    height: 280px;
    background-size: cover;
    position: relative;
  }
  .Music .Artwork:hover .Controls {
    background: rgba(41, 23, 32, 0.8);
  }
  .Music .Artwork .Controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 280px;
    box-sizing: border-box;
    background: rgba(41, 23, 32, 0.3);
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 20px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: background .125s ease;
    transition: background .125s ease;
  }
  .Music .Artwork .Controls i:hover{
      cursor:pointer;
  }
  .Music .Artwork .Controls .glyphicon-play,
  .Music .Artwork .Controls .glyphicon-pause {
    -webkit-transform: scale(4);
            transform: scale(4);
  }
  .Music .TrackList {
    width: 250px;
    height: 120px;
    background: #653a50;
    overflow-y: scroll;
    position:relative;
  }
  .Music .TrackList li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 4px solid rgba(255, 255, 255, 0.1);
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Special Elite', cursive;
  }
  .Music .TrackList li:hover, .Music .TrackList li.selected {
    background: #39202d;
    cursor: pointer;
    color: #bfefd5;
  }
  .Music .TrackList li:hover .duration {
    opacity: 1;
  }
  .Music .TrackList li .title {
    margin-left: 10px;
    font-weight: 500;
    letter-spacing: .12em;
  }
  .Music .TrackList li .duration {
    margin-left: auto;
    opacity: .25;
  }
  .Music .MusicCredit, .Music .MusicCredit a{
    color:white;
    padding:1px;
    text-align:center;
    font-family: 'Special Elite', cursive;
    
  }
  .Music .MusicCredit a{
    color: rgb(79, 20, 48);
  }
.AlbumCover {
    width: 100%;
}
.music-container {
  padding-bottom: 10em;
}